<div class="container">
  <h1>Geofence '<%= @geofence.description %>'</h1>
  <% if notice %>
    <div class="card-panel green accent-2 green-text text-darken-4">
      <i class="material-icons medium left">check_circle</i>
      <p class="flow-text"><%= notice %></p>
    </div>
  <% end %>

  <div class="row">
    <div class="col s6">
      <table class="flow-text highlight responsive-table ">
        <tr>
          <td>Latitude:</td>
          <td><%= @geofence.latitude %></td>
        </tr>
        <tr>
          <td>Longitude</td>
          <td><%= @geofence.longitude %></td>
        </tr>
        <tr>
          <td>Radius</td>
          <td>
            <%= number_with_precision(@geofence.radius, precision: 2, strip_insignificant_zeros: true) %> mt
          </td>
        </tr>
      </table>
    </div>

    <div class="col s6">
      <div id="map" style="width: 600px; height: 400px;"></div>
    </div>
  </div>

  <br><br>
  <div class="row">
    <%= link_to all_geofences_path, class: 'btn-large waves-effect waves-light blue-grey lighten-4 black-text' do %>
      <i class="material-icons left">arrow_back</i> Back
    <% end %>
  </div>
  <br><br><br>

</div>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

<script>
  var mymap = L.map('map').setView([<%= @geofence.latitude %>, <%= @geofence.longitude %>], 15);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWF0aHZwIiwiYSI6ImNqeGx5dnU4OTA1d2EzdW8zM3F5YTkzOHYifQ.b-X2rJrUaVOk_qnMk2w9kQ', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 20,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoibWF0aHZwIiwiYSI6ImNqeGx5dnU4OTA1d2EzdW8zM3F5YTkzOHYifQ.b-X2rJrUaVOk_qnMk2w9kQ'
  }).addTo(mymap);

  var marker = L.marker([<%= @geofence.latitude %>, <%= @geofence.longitude %>]).addTo(mymap);

  var circle = L.circle([<%= @geofence.latitude %>, <%= @geofence.longitude %>], {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5,
      radius: <%= @geofence.radius %>
  }).addTo(mymap);
</script>