<h1>Timetracks</h1>

<ul>
  <% @timetracks.each do |timetrack| %>
    <li>
    <%= timetrack.user %> |
    <%= timetrack.created_at %> |
    <%= timetrack.latitude %> |
    <%= timetrack.longitude %> |
    <%= timetrack.comment %>
    </li>
  <% end %>
</ul>

<%= link_to 'Register Timetrack', location_timetracks_path %>